@use 'variaveis';
.shows {
    padding: 2vw 5.6vw;
    min-height: 50vh;
    &__tabs {
        display: flex;
        justify-content: center;
        margin: 10px;
        
        
        &__button {
            font-size: 1.5em;
            border: none;
            color: variaveis.$corBranco;
            background-color: variaveis.$corDeFundo;
            cursor: pointer;
            font-family: 'Avenir', sans-serif;
            font-weight: 400;
            margin-right: 10px;
            border-bottom: 5px solid transparent;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-top: 2em;
            @media (max-width: 768px){
                font-size: 1em;
            }
            &--is-active{
                border-bottom: 5px solid variaveis.$corHover;
                
                transition: 0.3s;
            }
        }
    }

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 40px;
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active{
            display: grid;
        }
        &__item{
            
            
            img{
                max-width: 100%;
                border-radius: 6px;
                object-fit: cover;
            }
        }
    }
}